<ion-content>
  <ion-list>
    <ion-list-header>Members</ion-list-header>
    <ion-item *ngFor="let member of (members$ | async)" (click)="openChat(member)">
      <web-chat-avatar class="avatar-medium" [url]="member.img"></web-chat-avatar>
      <ion-label>
        <h3>{{member?.displayName}}</h3>
        <p>{{member?.userEmail}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['..','add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>