<form *ngIf="!(isProfilePicScreen$ | async); else profileUpload" [formGroup]="userForm" (ngSubmit)="signUp()">
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="userEmail"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="full" [disabled]="!userForm.valid" type="submit">Submit</ion-button>
</form>
<ng-template #profileUpload>
    <ion-content>
        <ion-avatar class="avtar user-avatar">
            <ng-container *ngIf="(profilePic$ | async) as pic; else defaultPic">
                <img [src]="pic">
            </ng-container>
            <ng-template #defaultPic>
                <img src="./assets/avatar.svg">
            </ng-template>
        </ion-avatar>
        <ion-item>
            <ion-button size="large" class="upload-btn-icon" (click)="createInput()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
            
        </ion-item>
        <ion-item>
            <ion-button class="upload-btn-icon" (click)="skipUpload()">
                <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-content>
</ng-template>