<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <a [routerLink]="['/','main','chat']">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </a>
            <ion-chip>
                <ion-avatar>
                    <img src="./assets/avatar.svg">
                </ion-avatar>
                <ion-label>{{displayName}}</ion-label>
            </ion-chip>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div #scrollContent class="message-scroll-content">
        <ion-list class="message-list">
            <ion-item *ngFor="let msg of (messages$ | async )">
                <div class="meassge-block"
                    [ngClass]="{'align-right': msg.sender?._id===myId,'others':msg.sender?._id!==myId}">
                    <div class="message-container">
                        <h4>{{msg.sender?.displayName}}</h4>
                        <p>{{msg.message}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-item>
        <ion-textarea placeholder="Type here.." [formControl]="msgCtrl"></ion-textarea>
        <ion-button class="send-message-action" item-right [disabled]="!msgCtrl.valid" (click)="sendMsg()">
            <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-button>

    </ion-item>
</ion-footer>