.message-draft-container{
    width: 100%;
    .native-input{
        width: 80%;
    }
    .send-message-action{
        width: 20%;
    }
}
.message-scroll-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    .message-list{
        margin-top: auto;
        margin-bottom: 0;
    }
    .meassge-block{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        &.align-right{
            align-items: flex-end;
            .message-container{
                background-color: lightblue;
                align-items: flex-end;
            }
        }
        &.others{
            .message-container{
                background-color: #ffffff;
                align-items: flex-start;
                h4{
                    color: green; 
                   }
            }
         }
         .message-container{
            display: flex;
            flex-direction: column;
            max-width: 65%;
        }
    }
    
}