<!-- <ion-item>
    
</ion-item> -->

<ion-content class="ion-padding">
    <ion-avatar class="avtar">
        <!-- <ion-icon name="person-circle" size="large"></ion-icon> -->
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [formControl]="email"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="full" [disabled]="!email.valid" (click)="login()">Round Button</ion-button>
    <ion-label>
        Not registered yet? 
        <ion-router-link [routerLink]="['..','signUp']" class="underline">Sign Up</ion-router-link>
    </ion-label>
</ion-content>
