/* You can add global styles to this file, and also import other style files */
.avatar-medium{
    .main-avatar-wrapper{
        margin-right: 11px;
        height: 50px;
        width: 50px;
    }
}